{% extends "base.html" %}
{% load static %}
{% block titulo %} Instalaciones {% endblock %}
{% block cabecera %} 
{% endblock %}

{% block cuerpo %}
<div class="text-center my-4">
    <a href="{% url 'deporApp:inicio' %}"> <img  src="{% static 'img/logo.png' %}" alt="logo" > </a>
</div>
<h2 class="text-center mb-4" style="color: #1EB1BB; font-weight: bold;"> Instalaciones </h2>

<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID</th>
                <th class="text-center" scope="col">Instalación</th>
                <th class="text-center" scope="col">Direccion</th>
                <th class="text-center" scope="col">Iluminación</th>
                <th class="text-center" scope="col">Cubierta</th>
                <th class="text-center" scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for instalacion in object_list %}
            <tr>
                <td class="text-center">{{ instalacion.id_instalacion }}</td>
                <td class="text-center">{{ instalacion.nombre }}</td>
                <td class="text-center">{{ instalacion.direccion }}</td>
                <td class="text-center">{% if instalacion.iluminacion %}
                    Si 
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td class="text-center">{% if instalacion.cubierta %}
                    Si 
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'deporApp:actualizar_instalacion' instalacion.pk %}" style="display: inline-block; text-align: center; width: 100%; color: darkblue; font-weight: bold;">Actualizar</a>
                    <a href="{% url 'deporApp:borrar_instalacion' instalacion.pk %}" style="display: inline-block; text-align: center; width: 100%; color: brown; font-weight: bold;">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="text-center mt-4 mb-5">
<a href="{% url 'deporApp:inicio' %}"><input type="button" class="btn btn-primary"  value="Volver a Inicio">&nbsp;&nbsp;</a>
<a href="{% url 'deporApp:crear_instalacion' %}"><input type="button" class="btn btn-primary"  value="Añadir Instalación">&nbsp;&nbsp;</a>
</div>
{% endblock %}